@import '../../../styles.scss';

// Points d'arrêt
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
  padding: 0 2rem;
  gap: 2rem;
  
  // Layout responsive
  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    text-align: center;
    margin: 2rem 0;
  }
  @media (max-width: $breakpoint-sm) {
    margin-top: 0;
  }

  h1 {
    font-size: clamp(2.5rem, 5vw, 5.5rem);
    line-height: 1.1;
    font-weight: 700;
    flex-basis: 50%;
    margin: 0;
    
    @media (max-width: $breakpoint-lg) {
      flex-basis: 100%;
      margin-bottom: 0;
    }

    @media (max-width: $breakpoint-md) {
      margin-bottom: 0;
    }

    span {
      color: var(--secondary-color);
      display: inline-block;
    }

    br {
      @media (max-width: $breakpoint-sm) {
        display: none;
      }
    }
  }

  article {
    font-size: clamp(1rem, 2vw, 1.15rem);
    flex-basis: 40%;
    
    @media (max-width: $breakpoint-lg) {
      flex-basis: 100%;
      max-width: 600px;
    }

    p {
      margin-bottom: 2rem;
      line-height: 1.6;
      
      @media (max-width: $breakpoint-md) {
        margin-bottom: 1.5rem;
      }
      @media (max-width: $breakpoint-sm) {
        margin-top: 0;
      }
    }

    .liens {
      display: flex;
      gap: 1rem;
      align-items: center;
      
      @media (max-width: $breakpoint-lg) {
        justify-content: center;
      }
      @media (max-width: $breakpoint-sm) {
        margin-left: 2.5rem;
      }

      .buttonCV {
        @include custom-button();
        
        @media (max-width: $breakpoint-sm) {
          // Réduction de la taille du bouton CV sur mobile
          .custom-btn {
            height: 2.7rem;
            padding: 0 1.5rem;
            font-size: 0.75rem;
            width: 10rem;
            
            span {
              line-height: 2.5rem;
            }
          }
        }
      }

      .github-icon {
        @include custom-button(
          $bg-color: var(--button-color),
          $text-color: #fff,
          $hover-color: rgba(2, 126, 251, 1),
          //$height: 2.7rem,
          $padding: 0.5rem 0.3rem 0.3rem
        );

        .custom-btn {
          width: 3rem;

          svg {
            display: block;
            width: 2rem;
            height: 2rem;
            fill: currentColor;
            margin: auto;
          }
        }
      }
    }
  }
}