:root {
  // Variables pour le thème light
  --background-color: #ffffff;
  --text-color: #444;
  --primary-color: #333;
  --secondary-color: #2978b5;
  --button-color: linear-gradient(0deg, var(--secondary-color) 0%, rgb(2, 73, 251) 100%);
  --link-hover-color: #306cc4;
  --background-header: #f8f9fa;
}

:root.dark-theme {
  // Variables pour le thème dark
  --background-color: #23283E;
  --text-color: #cdcdff;
  --primary-color: #90A0D9;
  --secondary-color: #90a0d9;
  --button-color: linear-gradient(0deg, #455891 0%, #4a68d9 100%);
 // --button-color: linear-gradient(0deg, #455891 0%, #2845b5 100%);
  --link-hover-color: #4080ff;
  --background-header: #1a1a3a;
}

@mixin progressive-underline(
  $height: 0.2em,
  $bottom: 0,
  $underline-color: var(--link-hover-color),
  $hover-color: var(--secondary-color),
  $duration: 0.2s
) {
  position: relative;
  transition: color $duration ease-in;

  &:hover {
    color: $hover-color;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: $bottom;
    left: 0;
    width: 0;
    height: $height;
    background-color: $underline-color;
    transition: width $duration ease-in;
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}
html, body { 
  height: 100%;
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }

section{
  h1.titleSection{
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;
      &::after{
          border-bottom: .5rem solid #306cc4;
          width: 4rem;
          margin: .2rem auto 0;
          content: "";
          display: block;
      }
  }
}