<section id="education">
  <h1 class="titleSection">Formations</h1>
    <article>
      <div class="formation-circle">
        <i class="fas fa-user-graduate"></i>
        <p>2022 - 2024</p>
      </div>
      <div class="formation-content">
        <h2>Master en Méthodes Informatiques Appliquées à la Gestion des Entreprises</h2>
        <h3>Mention Bien</h3>
        <h4>Université de Côte d'Azur</h4>
        <h5>Sophia Antipolis, France</h5>
        <p>Formation pluridisciplinaire alliant informatique et gestion, axée sur la maîtrise des systèmes d’information, le développement d’applications, l’analyse des besoins métiers et la gestion de projets informatiques.</p>
      </div>
    </article>

    <article>
      <div class="formation-circle">
        <i class="fas fa-user-graduate"></i>
        <p>2021 - 2022</p>
      </div>
      <div class="formation-content">
        <h2>Licence Professionnelle Informatique et Multimédia Appliquée</h2>
        <h3>Mention Bien</h3>
        <h4>Université de Côte d'Azur</h4>
        <h5>Nice, France</h5>
        <p>Formation axée sur le développement de sites web dynamiques, avec une maîtrise des technologies actuelles (PHP, HTML/CSS, SASS, MySQL, JavaScript, JQuery, AJAX, Angular, Symfony ) et des outils (CMS, frameworks).</p>
      </div>
    </article>

    <article>
      <div class="formation-circle">
        <i class="fas fa-user-graduate"></i>
        <p>2018 - 2019</p>
      </div>
      <div class="formation-content">
        <h2>Licence Professionnelle En Ingénierie de Conception et Développement des Applications</h2>
        <h3>Mention Assez Bien</h3>
        <h4>Université Hassan I</h4>
        <h5>Casablanca, Maroc</h5>
        <p>Formation en développement web et mobile, centrée sur les technologies modernes, l’UX design, et les bonnes pratiques du génie logiciel, avec une forte dimension pratique et professionnalisante.</p>
      </div>
    </article>
  </section>