<section>
  <h1 class="titleSection">Projets</h1>
  <article class="card">
      <header>
          <img src="/images/portfolio.PNG" alt="Portfolio Image">
      </header>
      <div class="card__body">
        <h1>Portfolio</h1>
        <p>
            Bienvenue sur mon portfolio, une vitrine numérique qui reflète mes compétences et mon parcours. Ce site présente les projets que j'ai réalisés au fil du temps, qu'ils soient personnels, académiques ou professionnels, tout en mettant en lumière mes savoir-faire et mes aspirations.
        </p>
        <ul>
            <li>HTML</li>
            <li>SASS</li>
            <li>TypeScript</li>
            <li>Angular</li>
        </ul>
        <a
            href="https://github.com/lamjarad-B/Portfolio"
            aria-label="source code"
            class="link link--icon"
        >
            <i aria-hidden="true" class="fab fa-github"></i>
        </a>
        <a
            href="https://example.com"
            aria-label="live preview"
            class="link link--icon"
        >
            <i aria-hidden="true" class="fas fa-external-link-alt"></i>
        </a>
      </div>
  </article>


  <article class="card">
    <header>
        <img src="/images/Genio.png" alt="Genio Image">
    </header>
    <div class="card__body">
      <h1>Genio</h1>
      <p>
        Un projet universitaire de création d’un site innovant pour concevoir et partager des arbres généalogiques, avec des fonctionnalités comme l’importation de fichiers <a href="https://fr.wikipedia.org/wiki/GEDCOM">GEDCOM</a>, offrant une alternative aux plateformes existantes comme Geneanet ou MyHeritage.
      </p>
      <ul>
          <li>HTML</li>
          <li>SASS</li>
          <li>JavaScript</li>
          <li>Fetch API</li>
          <li>jQuery</li>
          <li>Symfony</li>
          <li>Twig</li>
          <li>MySQL</li>
      </ul>
      <a
          href="https://github.com/lamjarad-B/Genio"
          aria-label="source code"
          class="link link--icon"
      >
          <i aria-hidden="true" class="fab fa-github"></i>
      </a>

    </div>
</article>
</section>