<section id="projects">
  <h1 class="titleSection">Projets</h1>
  <div class="container">
    <article class="card">
        <header>
            <img src="/images/portfolio.PNG" alt="Portfolio Image">
        </header>
        <div class="card__body">
            <h1>Portfolio</h1>
            <p>
                Bienvenue sur mon portfolio, une vitrine numérique qui reflète mes compétences et mon parcours professionnel et académique. Ce site présente les projets que j'ai réalisés au fil du temps, qu'ils soient personnels, académiques ou professionnels, tout en mettant en lumière mes savoir-faire et mes aspirations.
            </p>
            <ul>
                <li>HTML</li>
                <li>SASS</li>
                <li>TypeScript</li>
                <li>Angular</li>
            </ul>
            <a
                href="https://github.com/lamjarad-B/Portfolio"
                aria-label="source code"
                target="_blank"     
                class="link link--icon"
            >
                <i aria-hidden="true" class="fab fa-github"></i>
            </a>
            <a
                href="https://example.com"
                aria-label="live preview"
                class="link link--icon"
            >
                <i aria-hidden="true" class="fas fa-external-link-alt"></i>
            </a>
        </div>
    </article>

    <article class="card">
        <header>
            <img src="/images/DigitalIdentity.png" alt="Digital dentity Image">
        </header>
        <div class="card__body">
        <h1>Digital Identity</h1>
        <p>
            Digital Identity est un projet pédagogique simplifiant la gestion des présences universitaires grâce à des fonctionnalités dédiées aux étudiants, enseignants et administrateurs : gestion des cours, suivi des absences, génération de QR codes et certificats de présence. Un système sécurisé avec identifiants uniques et chiffrement garantit la fiabilité des données.
        </p>
        <ul>
            <li>HTML</li>
            <li>SASS</li>
            <li>JavaScript</li>
            <li>JQuery</li>
            <li>PHP</li>
            <li>Symfony</li>
            <li>Twig</li>
            <li>MySQL</li>
        </ul>
        <a
            href="https://github.com/EmreErs/Projet_Miage"
            aria-label="source code"
            target="_blank" 
            class="link link--icon"
        >
            <i aria-hidden="true" class="fab fa-github"></i>
        </a>
        </div>
    </article>

    <article class="card">
        <header>
            <img src="/images/Genio.png" alt="Genio Image">
        </header>
        <div class="card__body">
        <h1>Genio</h1>
        <p>
            Un projet universitaire de création d’un site innovant pour concevoir et partager des arbres généalogiques, avec des fonctionnalités comme l’importation de fichiers <a href="https://fr.wikipedia.org/wiki/GEDCOM">GEDCOM</a>, offrant une alternative aux plateformes existantes comme Geneanet ou MyHeritage.
        </p>
        <ul>
            <li>HTML</li>
            <li>SASS</li>
            <li>JavaScript</li>
            <li>Fetch API</li>
            <li>jQuery</li>
            <li>Symfony</li>
            <li>Twig</li>
            <li>MySQL</li>
        </ul>
        <a
            href="https://github.com/lamjarad-B/Genio"
            aria-label="source code"
            target="_blank" 
            class="link link--icon"
        >
            <i aria-hidden="true" class="fab fa-github"></i>
        </a>

        </div>
    </article>


    <article class="card">
        <header>
            <img src="/images/AssignmentManager.png" alt="Assignment Manager Image">
        </header>
        <div class="card__body">
        <h1>Assignment Manager</h1>
        <p>
            Ce projet pédagogique est une application Angular permettant de gérer les devoirs et les notes d'une classe fictive. Il inclut des fonctionnalités telles que l'authentification sécurisée avec rôles (utilisateur standard et administrateur), la visualisation et la gestion des devoirs (ajout, modification, suppression) et une gestion des utilisateurs adaptée.
        </p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Angular</li>
            <li>JavaScript</li>
            <li>NodeJS</li>
            <li>MongoDB</li>
        </ul>
        <a
            href="https://github.com/lamjarad-B/angularFrontM1Miage2022_2023"
            aria-label="source code"
            target="_blank" 
            class="link link--icon"
        >
            <i aria-hidden="true" class="fab fa-github"></i>
        </a>
        <a
        href="https://www.youtube.com/watch?v=ZGnC5KNqQDI&ab_channel=BrahimLAMJARAD"
        aria-label="chaîne youtube"
        target="_blank" 
        class="link link--icon"
        >
            <i aria-hidden="true" class="fab fa-youtube"></i>
        </a>
        </div>
    </article>

    <article class="card">
        <header>
            <img src="/images/have-a-break-save-the-planet.png" alt="HAVE A BREAK, SAVE THE PLANET Image">
        </header>
        <div class="card__body">
        <h1>Have A Break, Save The Planet</h1>
        <p>
            Ce jeu de course 3D avec Babylon.js vous défie d'éviter des obstacles sur une route infinie tout en augmentant votre vitesse. Avec des graphismes immersifs, un moteur physique réaliste et un système de score progressif, il offre une expérience captivante. "HAVE A BREAK, SAVE THE PLANET" sensibilise à l'économie d'énergie et à la mobilité douce en intégrant une phase de jeu à vélo après une collision.
        </p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>BabylonJS</li>
        </ul>
        <a
            href="https://github.com/lamjarad-B/HAVE-A-BREAK-SAVE-THE-PLANET"
            aria-label="source code"
            target="_blank" 
            class="link link--icon"
        >
            <i aria-hidden="true" class="fab fa-github"></i>
        </a>
        <a
                href="https://have-a-break-save-the-planet.netlify.app/"
                aria-label="live preview"
                target="_blank" 
                class="link link--icon"
            >
                <i aria-hidden="true" class="fas fa-external-link-alt"></i>
            </a>
        <a
        href="https://youtu.be/QZhOZhiJijc"
        aria-label="chaîne youtube"
        target="_blank" 
        class="link link--icon"
        >
            <i aria-hidden="true" class="fab fa-youtube"></i>
        </a>
        </div>
    </article>

    <article class="card">
        <header>
            <img src="/images/niceone.png" alt="Nice One Image">
        </header>
        <div class="card__body">
        <h1>Nice One</h1>
        <p>
            Ce projet académique est un site web de réservation pour un hôtel. Il permet aux utilisateurs de réserver des chambres, tables et salles, ainsi que de gérer leurs réservations et donner des avis. Le personnel dispose d’un back-office pour administrer les réservations et les contenus. Ce projet met l’accent sur l’ergonomie, l’accessibilité et une expérience utilisateur fluide.
        </p>
        <ul>
            <li>HTML</li>
            <li>Twig</li>
            <li>CSS / SASS</li>
            <li>PHP</li>
            <li>JavaScript</li>
            <li>AJAX</li>
            <li>JQuery</li>
        </ul>
        <a
            href="https://github.com/lamjarad-B/pt"
            aria-label="source code"
            target="_blank" 
            class="link link--icon"
        >
            <i aria-hidden="true" class="fab fa-github"></i>
        </a>

        </div>
    </article>
</div>
</section>